<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>{{ item.name }}</h1>
<h2>{{ item.category.name }}</h2>
</br>
<a href='{{ url_for('showCategoryItems', categoryname=item.category.name) }}'>Go Back to {{item.category.name}} Items</a></br>
</br>
</br>

<div>

<h2>{{item.name}}</h2>
<p>{{item.description}}<p>
<p> {{item.category.name}}</p>
{% if item.user.id == user.id: %}
<a href='{{ url_for('editItem', categoryname=item.category.name, itemname=item.name )}}'>Edit</a></br>
<a href='{{ url_for('deleteItem', categoryname=item.category.name, itemname=item.name )}}'>Delete</a></br>
{% endif %}

</br>

</div>

</body>

</html>