<html>
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<h1>Items</h1>
</br>
<a href='{{ url_for('newItemFromCategory', categoryname=category.name) }}'>Add New Item</a></br>
<a href='{{ url_for('showCatalog') }}'>Go Back to Catalog</a></br>

</br>

{% for i in items %}
<div>

<a href='{{ url_for('showItem', categoryname=i.category.name, itemname=i.name )}}'><h3> {{i.name}}</h3></a>
<!--</br>{{i.description}}</br>-->
{% if i.user.id == user.id: %}
<a href='{{ url_for('editItem', categoryname=i.category.name, itemname=i.name )}}'>Edit</a></br>
<a href='{{ url_for('deleteItem', categoryname=i.category.name, itemname=i.name )}}'>Delete</a></br>
{% endif %}
</br>
</br>


</div>


{% endfor %}
</body>

</html>