{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row banner main">
	<div class="col-md-12">
		<h1>Add New Item</h1>
	</div>
</div>
</br>
<form method='POST' enctype='multipart/form-data' action='{{ url_for('newItem') }}'>

<div class="row">
	<div class="col-md-12">
		<input name="name" type="text" placeholder="name" >
	</div>
	<div class="col-md-12">
		<select name="category">
		{% for c in categories %}
    		<option
    		{% if selectedcategory == c.name %}
    		selected value="{{c.name}}">{{c.name}}
    		{% else %}	
    		value="{{c.name}}">{{c.name}}
    		{% endif %}
    		</option>
		{% endfor %}
		</select>
	</div>
	<div class="col-md-12">
		<textarea name="description" placeholder="description" rows="5" cols="50"></textarea>
	</div>
	<div class="col-md-12">
		<input type="submit" value="Submit">
		{% if selectedcategory == "" %}
		<button> <a href='{{ url_for('showCatalog') }}'>Cancel</a> </button>
		{% else %}
		<button> <a href='{{ url_for('showCategoryItems', categoryname=selectedcategory) }}'>Cancel</a> </button>
		{% endif %}
	</div>
</div>

{% if selectedcategory == "" %}
	<input type="text" name="preselectedcat" value="no" hidden="true">
{% else %}
	<input type="text" name="preselectedcat" value="yes" hidden="true">
{% endif %}
<input type=hidden name=_csrf_token value="{{ csrf_token() }}">
</form>

{% endblock %}